@charset "UTF-8";

*{
	-moz-box-sizing: border-box; 
	box-sizing: border-box; /*explications : https://www.alsacreations.com/astuce/lire/22-Commentfixerunpiedaubasdelapage.html */
}
html, body {
	height: 100%;
	margin:0; padding:0;
}
body {
	background-color: white;
	font-family: 'Questrial', sans-serif; /* 'Cabin', "Gill Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size:120%;
}

#main{ /*sert à fixer le footer en bas...*/
	min-height:100%;
	margin:0 auto;
	position:relative;
}

form { 
	width:100%;
	margin:auto;
	border:none;
}
table {
	border-collapse: collapse; background-color: white;
}
table, th, td {
	border: 1px solid black;
	padding: 0.5em;
	margin:2em auto;
}
fieldset {
	margin: auto;
	display:table-cell;
	min-width: 0; 
	width: 100%;
	padding: 30px 10px;
}
fieldset ~ fieldset{
	margin-top: 50px;
}
legend {
	display:table; /* Enable line-wrapping in IE8+ */
	white-space:normal; /* Enable line-wrapping in old versions of some other browsers */
	color: #259983;
	font-size: 20px;
	margin-left: 40px;
	padding: 0 10px;
}
label { 
	display:inline-block; width:30em; 
	vertical-align: top;
	color: #333;
}

/*header*/
.bandeau{
	width:auto;
	margin:0 0 2em 0; 
	padding:0.3em 10% 0 0.3em;
	border-bottom: 1px solid #259983;
	font-size:1.5em;
	font-weight: bold;
	background: white;
}
.titrebandeau {
	width:6.5em;
	color:#E74106;
	background-color:white;
	margin-right:auto;
	margin-bottom:-1.2em;
	padding:0.4em;
	margin-left:100px;
	line-height:0.9em;
}
.titrebandeau a {
	text-decoration: none;
	color:#29B297;
	transition: color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s;
}
.titrebandeau a:hover {
	color:#259983;
}
.soustitre {
	text-align:center;
	width:90%;
	margin:3em auto;
	font-size:1.2em;
	color: #656665;
}

/*front*/
form.joli{
	padding:0;
	margin-top:5%;
}
form.vert{
	background: url("../img/Helping_Hands,_Adigrat_(14423844643).jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
form.vertpale{
	background-color: #B8DEDE;
}
.avertissement{
	color:red;
	text-align:center;
}
.lienenbas{
	font-size:small;
	text-align:center;
	margin:1em auto;
}
.lienenbas a{
	color: #333;
	transition: color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s;
}
.lienenbas a:hover,
.lienenbas a:focus{
	color: #29B297;
}
/*accueil*/
form.accueil{
	text-align:center;
	/*margin-top:3em;*/
	height:20%;
	min-height:5em;
	padding-top:1em;
	background: #29B297;
	position: relative;
	margin: 10% 0;
}
form.accueil:after{
	content: '';
	background-image: url('../img/background-home.png');
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 100%;
	height: 115px;
	width: 100%;
	left: 0;
}
form.accueil:before{
	content: '';
	background-image: url('../img/background-home.png');
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: -115px;
	transform: rotate(-180deg);
	height: 115px;
	width: 100%;
	left: 0;
	z-index: -1;
}
form.accueil input[type="submit"]{
	background-color: white;
	color: #656665;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	border: none;
	margin-left:1em;
	padding: 10px 15px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:15px;
	height: 47px;
	font-family: 'Questrial', sans-serif;
	vertical-align: top;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
form.accueil input[type="submit"]:hover,
form.accueil input[type="submit"]:focus{
	background: #656665;
	color: white;
}
fieldset.accueil_choix_ville {
	margin:2% auto; 
	border: none;
	color:white;
	font-weight:bold;
	font-size:1.2em;
	display: table-cell;
	vertical-align: middle;
}
fieldset.accueil_choix_ville label {
	width:6em;
	font-size:1.2em;
	line-height: 1.6;
	color: white;
}
fieldset.accueil_choix_ville input[type=text] {
	max-width:40%;
	width:30em;
	min-width:12em;
	font-size:1em;
	padding: 8px 12px;
	border: 1px solid #ccc;
	color: #656665;
	box-shadow: none;
	height: auto;
}
fieldset.accueil_choix_besoin {
	margin:3% auto;
	border: none;
	color:white;
}
fieldset.accueil_choix_besoin div{
	text-align:center;
}
div.boutonsbesoin {
	margin:2em auto 1em auto;
}
div.boutonsbesoin input[type="submit"]{
	background-color: white;
	color: #656665;
	font-weight:bold;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:1em;
	box-shadow: 0px 2px 5px 0px grey;
	margin:0 1em 1em 0;
}
div.boutonsbesoin input:disabled{
	opacity: 0.2;
	box-shadow: none;
	font-weight:normal;
	cursor: not-allowed;
}
.div123{
	width:100%; 
	margin: 5em 0 2em 0;
	display: inline-block;
	text-align:center; 
	font-size:0.8em;
	padding:0;
}
.block123{
	display:inline-block; 
	width:30%;
	vertical-align:middle; 
	height:100%; 
	margin:0 1em 1em 0;
	padding:2em 1em;
	position: relative;
	color: #656665;
	font-size: 20px;
	min-width:12em;
}
.block123:before{
	content: '';
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 50%;
	top: -20px;
	transform: translateX(-50%);
	width: 40px;
	height: 40px;
}
.block123.pro:before{background-image: url('../img/search.svg');}
.block123.contact:before{background-image: url('../img/contact.svg');}
.block123.rdv:before{background-image: url('../img/calendar.svg');}


/*formulaire*/
form.formulaire{
	padding-bottom:0.5em; 
	clear:both;
	margin-top:3%; 
	width:80%;
	min-width:18em;
}
fieldset.formulaire {
	background-color: white; 
	font-size:0.9em;
	border:1px solid #259983; /*none; 
	box-shadow: 0px 2px 5px 0px grey; */
	padding:0em 1em 1em 1em;
}
div.centreformulaire {
	min-width:18em;
	margin:2em 10%; 
	text-align:left;
}
fieldset.formulaire legend {
	/*margin-top:-0.5em;*/
	background-color:white; 
	text-align:left;
	padding:0 1em;
}
.lab {
	margin:1em 0;
}
.lab div{
	font-size: 13px;
}
.lab div > input[type="radio"] ~ input[type="radio"]{
	margin-left: 15px;
}
.lab div > input[type="checkbox"]{
	margin-bottom: 8px;
}
label.label_long{
	width: 50%;
	min-width: 18em;
	/*width:25em;*/ 
}
input[type=text], input[type=email],input[list], textarea, select { 
	width: 20em; 
	height: 30px;
	border: 1px solid #ccc;
	padding-left: 8px;
}
select[multiple] {
	height: auto;
}
select option{
	padding: 5px 0 5px 8px;
}
input.date { 
	width: auto; 
}
select.age { 
	width: auto; 
}
.aide {
	float:right;
}
.aide img {
	width:16px;
}
button[type="submit"]{
	background: #29B297;
	color: white;
	text-transform: uppercase;
	border-radius: 0px;
	border:none;
	box-shadow: none;
	padding: 12px 20px;
	cursor: pointer;
	font-weight: 500;
	font-size: 15px;
	transition: background 0.3s ease 0s;
	-webkit-transition: background 0.3s ease 0s;
}
button[type="submit"]:hover,
button[type="submit"]:focus{
	background: #656665;
}

/*resultat*/
form.resultat{
	clear:both;
	width:95%;
	margin-top:3%; 
	padding-bottom:0.5em;
}
/* Rappel de mes informations */
form.resultat:first-of-type fieldset.resultat{
	text-align: center;
}
form.resultat:first-of-type fieldset.resultat p{
	color: #333;
	cursor: pointer;
}
form.resultat:first-of-type fieldset.resultat p b{
	transition: color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s;
}
form.resultat:first-of-type fieldset.resultat p:hover b,
form.resultat:first-of-type fieldset.resultat p:focus b{
	color: #29B297;
}

.h1resultat {
	font-size: 1.2em;
	line-height: 1;
	margin: -0.5em 1em 1em 2em;
	background-color:white;
	color:#29B297;
	padding:0.2em 0.5em 0.2em 0.5em ;
	/*background-color:#29B297;
	color:white;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;	
	border-radius:8px;*/
}
.resultat {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1em; /*0*/
	margin:-1em 1em 1em 1em;
	margin-bottom:2em;
}

/** Résultats des offres **/
.resultat_offre{
	display:inline-block; 
	margin:1%;
	width:22%;
	border-radius: 0;
	background: white;
	background: #f9f9f9;
	border: 1px solid #eee;
	vertical-align:top;
	position: relative;
	min-width:12em;
	min-height:4.5em; 
}
.resultat_offre:before{
	content: '';
	background: #29B297;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	-webkit-transition: transform 0.3s ease 0s;
}
.resultat_offre:hover:before,
.resultat_offre:focus:before{
	transform: scale(1);
}
.resultat_offre a, .resultat_offre a:link{
	display:block;
	width:100%;
	height:100%;
	padding:0.8em 1em;
	color:#333;
	font-weight: normal;
	text-decoration:none;
	font-size: 16px;
	text-overflow: initial; /*ellipsis;
	overflow: hidden;
	white-space: nowrap;*/
}
.resultat_offre a:visited{
	color:DimGray;
}
.coeur{
	float:right; margin-right:0.2em;
}
.colonnes{
	/*-webkit-column-width: 14em;  Chrome, Safari, Opera 
	-moz-column-width: 14em;  Firefox 
	column-width: 14em;*/
	font-size:0.9em;
}
.enbasadroite{
	margin:1em 1em 0em 0em;
	text-align:right;
}
.enbasadroite a{
	color: #29B297;
	text-decoration: none;
	transition: color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s;
}
.enbasadroite a:before{
	content: '‹ ';
	transition: margin 0.3s ease 0s;
	-webkit-transition: margin 0.3s ease 0s;
}
.enbasadroite a:hover,
.enbasadroite a:focus{
	color: #259983;
}
.enbasadroite a:hover:before,
.enbasadroite a:focus:before{
	margin-right: 8px;
}

 /****** fenêtres modales */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
	background-color: #fefefe;
	margin: 60px auto; /* 15% from the top and centered */
	padding: 1.5em 0.5em;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	color: #656665;
}
.close {
	color: #aaa;
	float: right;
	font-size: 2em;
	font-weight: bold;
	line-height:0.5em;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.center {
	text-align: center;
}
.small {
	font-size: small;
}

a.button {
	text-decoration: none;
	padding: 10px 30px;
	background-color: #29B297;
	color: white;
	font-weight:bold;
	margin: 20px 0;
	display: inline-block;
	transition: background 0.3s ease 0s;
	-webkit-transition: background 0.3s ease 0s;
}
a.button:hover,
a.button:focus{
	background: #656665;
}

/* présentation offre */
table.offre{
	width:90%;
	margin:1em 5% 0;
	border-color:#ccc;
	font-size:0.8em;
}
table.offre tr,td{
	padding:0.5em 0.5em 0.5em 1em !important;
	border:none;
}
table.offre tr td:first-of-type{
	border-right: 1px solid #ddd;
}
table.offre tr:nth-child(odd){
	background-color:#f9f9f9;
}
table.offre img{
	max-width: 100%;
}
.liste_criteres{
	width:90%; margin:auto; 
	-webkit-column-count: 5; -moz-column-count: 5; column-count: 5; 
	font-size:0.8em;
}
.resume {
	margin-top:3em;
}
.cadre{
	width: 90%;
	margin: 0 5%;
}
.cadre > div{
	margin: 20px 0;
}
.cadre > div > div{
	margin: 20px 0 0 0;
}
.cadre button[type="submit"] {
    background: red none repeat scroll 0 0;
/*    background: #29b297 none repeat scroll 0 0;*/
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 2px 20px;
    height: 30px;
    vertical-align: top;
    text-transform: uppercase;
    transition: background 0.3s ease 0s;
}
.cadre table.offre{
	margin: 0;
}
.map{
	
}
.map iframe{
	float:right;
	padding:auto;
	width: 30%;
	margin:-1em 5% 0 5%;
	min-width: 20em;
	height: 15em;
	border:none;
}

.version{ 
	text-align:right;
	margin-right:1%; 
	font-size:small; 
	color:grey;
}
footer {
	position: absolute; 
	bottom: 0; 
	width:100%; 
	font-size:0.7em;
}
footer ul { 
	background-color:#f7f7f6;
	margin:0;
	text-align:center;
	padding:0.5em 0;
}
footer li { 
	display:inline; 
	padding:0 5%;
}
footer li a{
	color: #656665;
	cursor: pointer;
	text-decoration: none;
}
footer li a:hover,
footer li a:focus{
	text-decoration: underline;
	color: #29B297;
}
ul li:first-child{ 
	padding-left:0; 
}
ul li:last-child{
	padding-right:0; 
}

/* bandeau alpha */
body:after{
	content: "test";
	position: fixed;
	width: 150px;
	height: 25px;
	background: #E74106; /*#EE8E4A;*/
	top: 22px;
	right: -35px;
	text-align: center;
	font-size: 1em;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	line-height: 27px;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	box-shadow: 0px 2px 5px 0px grey;
}

.mentions {
	width:95%; margin:auto; padding-bottom:3em; font-size:small;
}
.mentions p {
	text-align: justify;
}

pre{
 background:#eee;
 padding:1em;
 margin-top:3em;
 white-space : pre-wrap;
 font-size:0.8em;
}