@charset "UTF-8";
/*charte graphisque djepva
--orange: #E74106;
--vert:#00AAA9; 
--vertpale:#B8DEDE;
*/
body { 
	background-color: white; 
	font-family: "Open Sans", sans-serif; /*
	"Helvetica Neue",Helvetica,Arial,sans-serif;
	"Open Sans", "Helvetica Neue"*/
	font-size:100%; 
	margin:0;
	padding:0;
}
input, select, textarea, button{
	font-family:inherit;
}
a {
	text-decoration: none;
	color: #00807F;
}
a:hover {
	text-decoration: underline;
}
h1.bandeau{
	width:auto;
	margin:0em; 
    padding:0.5em 0 0 0.7em; 
	font-size:1.5em;
    font-weight: bold;
	color:white;
	background:#00AAA9; /*SteelBlue;*/
}
.bandeau img{
	float:left;
	margin:-0.4em 0.5em 0 -0.6em;
}
h1 a {
	text-decoration: none;
	color:white;
}
h1 a:hover {
	color:#edf3f8;
}
.retour_boussole {
	float:right; width:1.5em; 
	margin:0.5em 0.5em;
}
.statut {
	font-size:0.9em;
	text-align:right;
	padding-right:0.25em;
	margin-bottom:1em;
	background-color:#DCEFEF; /*#B8DEDE b6cee2;*/
}
.statut a {
	text-decoration: underline;
}
h2 {
	margin-left:0em;
}
.container{
	margin:1em;
}
.liste_territoire{
	text-align:right;
    float:right;
    width:20em;
}
table.detail  {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse; 
	width:100%;
}
.detail th, .detail td {
	padding: 4px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.detail tr:nth-child(odd){ background-color:#f9f9f9;}
.detail tr:hover {background-color: #f6f6f6;}
form { 
	width:100%;
	margin:0 auto;
}
fieldset {
	margin:0 auto 2em auto;
	padding:1em;
	border:1px solid grey;
}
legend{
	text-align:left;
}
.accueil {
	width:100%;
    border-collapse: collapse;
}
.accueil td {
	width:33%;
	border:none;
	padding: 0 1em;
	vertical-align:top;
}
.accueil ul{
	list-style-type: none;
	background:#f9f9f9; /*#f0f8f8*/
	border-top:1px solid #CCC; /*#00AAA9 black*/
	border-bottom:1px solid #CCC;
	border-left: 3px solid #00AAA9; /*B8DEDE*/
	height:9em;
	margin-top:0.5em; 
	line-height:2.5em;
	padding: 1em 2em;
}
.derniere{
	margin-right:0;
}
.centre{ 
	text-align:center;
}
.une_colonne{
	display: block; 
	width:60%;
	min-width:33em;
	margin:auto;
	line-height: 140%;
	margin-bottom:0.5em;
} 
.deux_colonnes{
	display: inline-block; 
	width:45%; 
	min-width:33em;
	vertical-align: top;
	margin-right:1em;
	margin-bottom:0.5em;
} 
.colonnes{
	-webkit-column-width: 28em; /* Chrome, Safari, Opera */
	-moz-column-width: 28em; /* Firefox */
	column-width: 28em;
	column-rule:1px solid grey;
}
/*input[type=text], input[type=email],input[list], textarea, select { 
	width: auto; 
}*/
input[readonly] {
	background-color: whitesmoke;
	color: #666;
}
.detail input[type=text], .detail input[type=password], .detail input[type=email], .detail  input[list], .detail textarea, .detail select { 
	width: 22em; 
}
.detail input[type=text].input_int { 
	width: 3em; 
}
.detail input[type=text].datepick { 
	width: 7em; 
}
.detail input[type=text].input_long { 
	width: 30em; 
}
.detail input[type=text].input_treslong { 
	width: 50em; 
}
.criteres{
	width:16em !important; 
}

.auth input[type=text], .auth input[type=password] { 
	width: 30em; 
}
#editeur{
	border: 1px solid #ddd;
	padding: 0.2em;
	overflow: auto;
	font-size:90%;
	width:30em;
	height:15em;
	font-weight: normal;
}
select.age { 
	width: auto; 
}
label { 
	display:inline-block; 
	vertical-align: top;
}
.detail label { 
	width:15em;
}
label.court{ 
	width:7em;
}
.lab {
	margin-top:0.5em;
	display:inline-block;
}
.button {
	text-align:center;
	margin-top:1em;
}
.soustitre {
	text-align:center;
	width:90%;
	margin:2% auto 0 auto;
    font-size:1.1em;
}
pre{
 background:#eee;
 padding:1em;
 margin-top:3em;
 white-space : pre-wrap;
}
.filtres{
	margin-bottom:2em;
	border-collapse:collapse;
	border-right:1px solid black;
}
.filtres th{
	padding-right:0.4em;
	border-right:1px solid black;
}
.filtres td{
	vertical-align:middle;
	padding:0.2em 0.4em;
	background-color:#f9f9f9;
}
.page{
	border-top:1px solid black !important;
}
.notice{
	font-weight:normal; font-size: small;
}
